@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    background-image: url(../img/fondo-main.png);
}

.fixed img{
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 40px;
}

.footer{
    background-color: #22202011;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Italiana', serif;
    font-style: italic;
}

footer h2{
    margin: 10px;
}

footer div img{
    width: 40px;
    margin: 10px;
}

/*------PÁGINA INDEX----*/

header{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: sticky;
    top: 0;
}

header nav{
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.fa-solid{
    display: none;
}

header nav ul li{
    padding: 10px;
}

header nav img{
    align-items: center;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
}

.fixed{
    position: fixed;
}


.hero{
    background-image: url(../img/oficina.png);
    background-position: 100%;
    height: calc(100vh - 120px);
    background-size: 1920px 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero h1{ 
    width: 58%;
    font-family: 'Italiana', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

.hero img{
    width: 600px;
    height: 400px;
}

.hero a{ 
    color: #22202059;
    font-size: 20px;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px 7px;
    margin: 20px;
    transition: 1s;
}

.hero a:hover{ 
    color: #000000;
    transform: scale(1.2);
    transition: 1s;
}

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../img/fondo-main.png);
}

.ladoimagen{
    width: 40%;
}

.servicios h3{
    font-family: 'Italiana', serif;
    font-size: 34px;
}

.servicios p{
    font-size: 20px;
    margin: 10px;
}

.servicios img{
    width: 350px;
}

.servicios div{
    height: 350px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.servicios a{
    color: #222020;
    font-size: 12px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px
}

.servicios a:hover{
    box-shadow: 10px 10px 140px 34px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 140px 34px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 140px 34px rgba(0,0,0,0.75);
    transition: 1s;
}


/*----------PÁGINA SERVICIOS---------*/

.todaslasopciones{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

.todaslasopciones div:hover{
    box-shadow: 10px 10px 140px 34px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 140px 34px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 140px 34px rgba(0,0,0,0.75);
    transition: 1s;
}

.opciones img {
    height: 250px;
}

.opciones h3{
    font-family: 'Italiana', serif;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.opciones p{
    width: 90%;
    text-align: center;
    margin: 15px;
}

/*----------PÁGINA PARA QUIÉN---------*/

main h2 {
    font-family: 'Italiana', serif;
    padding: 40px 0px 0px 20px;
    font-size: 50px;
    text-align: center;
}

.agentes {
    line-height: 1.2;
}

.agentes div h3 {
    font-size: 35px;
}

.agentes div img{
    height: 340px;
    width: 340px;
}

.agentes p {
    font-size: 12px;
}   

/*----------PÁGINA PORTFOLIO---------*/

.carrusel{
    padding: 150px;
    width: 870px;
    height: 870px;
    object-fit: cover;
    object-position: inherit;
}

.carrusel img{
    object-fit: cover;
}
/*----------PÁGINA PRESUPUESTO---------*/



.arreglarletra{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.contame h2{
    font-size: 40px;
    width: 70%;
    text-align: left;
}

.arreglarletra h3 {
    font-size: 25px;
    text-align: left;
}  

.servicioaelegir {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 40px;
}

.nombreycorreo {
    margin: 40px
}

.servicioaelegir h3{
    text-align: left;
}

.pais{
    margin: 40px
}

.pais h3{
    text-align: left;
}

.contame{
    margin: 40px
}

.respuesta h4{
    font-family: 'Italiana', serif;
    margin: 40px 0px 0px 0px;
}


/*-----RESPONSIVE en index-----*/

@media screen and (max-width: 1100px){
    .hero h1 { margin: 50px 0px 0px 0px;
    }
    .servicios div {
        height: 100%;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
    }

    .ultimoboton{
        margin: 0px 0px 40px 0px;
    }

@media screen and (max-width:950px){
    .hero h1{
        font-size: 45px;
    }

    .hero a{
        margin: 12px 0px 48px 0px;
        font-size: 13px;
    }

    .ladoimagen{
        font-size: 17px;
    }

    .servicios p {
        font-size: 18px;
        width: 130%;
        }
}

@media screen and (max-width: 800px){
    header nav ul{
    display: none;
    }

    header nav{
        justify-content: space-around;
    }

    .hero h1{
        font-size: 40px;
    }

    .fa-solid{
        display: flex;
        font-size: 35px;
    }
}

@media screen and (max-width: 690px){
    header {
        display: grid;
        flex-direction: column;
    }

    .hero h1{
        font-size: 37px;
    }

    .servicios p {
        font-size: 16px;
        width: 140%;
        }
}


@media screen and (max-width: 614px){
    .hero h1{
        width: 74%;
    }
}

@media screen and (max-width: 465px){
    header nav ul{
        flex-direction: column;
    }

    header nav ul li {
        margin: 5px;
    }

    .hero h1{
        font-size: 30px;
    }
}

.servicios div a {
    margin: 0px 0px 60px 0px;
}

    .hero {
        flex-direction: column;
    }
    
    .hero h1 {
        text-align: center;
    }

    .hero a {
        margin: 10px 0px 60px 0px;
    }
}

/*-----RESPONSIVE en SERVICIOS-----*/

@media screen and (max-width: 1230px){
    .todaslasopciones{
    display: flex;
    flex-direction: column;
    align-content: center;
    }

    .opciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .todaslasopciones p{
    width: 40%;
    }
    
    .todaslasopciones h3{
        margin: auto;
        }
        
@media screen and (max-width: 670px){      
    .todaslasopciones p{
        width: 60%;
        }    
}

/*-----RESPONSIVE en PARA QUIÉN-----*/

/*-----RESPONSIVE en PORTFOLIO-----*/
@media screen and (max-width: 880){
    .carrusel img {
        padding: 0px;
        width: 500px;
    }
    }

/*-----RESPONSIVE en PARA QUIÉN-----*/
@media screen and (max-width: 854){
    .contame h2{
        font-size: 33px;
    }

@media screen and (max-width: 724){
    .contame h2{
        font-size: 29px;
        width: 95%;
        }

@media screen and (max-width: 416){
    .contame h2{
        font-size: 22px;
        width: 95%;
    }
    

/*-----HOVER-----*/

