.footer{
    background-image: url(../img/footer.png);
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Italiana', serif;
    font-style: italic;
    h2{
        margin: 10px;
        }
    div{
        a{
            img{
            width: 40px;
            margin: 10px;
                }
            }
        }
    }