header{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 1;

    h1{
        width: 58%;
        font-family: 'Italiana', serif;
        font-size: 50px;
        font-weight: bold;
        text-align: left;
    }
    nav{
        width: 100%;
        -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            justify-content: space-between;        
        img{
            align-items: center;
            box-sizing: border-box;
            width: 120px;
            height: 120px;
        }
        ul{
            
            li{
                padding: 10px;
                }
            }
        }
    }
