*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    background-image: url(../img/fondo-main.png);
}

.fixed img{
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 40px;
}
